<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctu.planitstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".feature.presentation.CashStudyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashStudy">
        <activity android:name=".feature.presentation.home.HomeScreen">

        </activity>
        <activity
            android:name=".feature.presentation.sign_up.SignUpScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".feature.presentation.terms_of_use.TermsOfUseAgreesScreen" >

        </activity>
        <activity android:name=".feature.presentation.login.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao32c538e7a02107fd174eff2ab293916://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoe32c538e7a02107fd174eff2ab293916" />
            </intent-filter>
        </activity>
    </application>

</manifest>